.global_right{
    margin: 0 10px;
    float: right;
}
.global_left{
    margin: 50px;
    position: fixed; 
    top: 0; 
    left: 0;
}
.global_left img{
    border-radius: 15px;
}
.containers{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}
span{
    color:rgb(174, 174, 178);
}
.boxs{
    margin: 5px;
    border: solid rgb(174, 174, 178);;
    background-color: #fff;
    border-radius: 15px;
    width: 190px;
    height: 100px;
}
button img{
    height: 50px;
}
/* .boxs:active, .boxs:focus, .box:active, .box:focus 
{
    border: solid rgb(101, 163, 211);
} */
.btn{
    margin: 5px;
    border: solid rgb(174, 174, 178);
    /* background-color: #fff; */
    border-radius: 15px;
    width: 500px;
    height: 100px;
}
.last{
    margin: 10px;
    padding: 10px;
    background-color: rgb(228, 228, 234);
    border-radius: 10px;
}
