.global{
    display:flex;
    justify-content: end;
}
.global_left{
    margin: 10px;
    position: fixed; 
    top: 0; 
    left: 0;
}
.global_left img{
    border-radius: 15px;
}
.containerColor, .containerSelection, .containerConnection{
    justify-content: end;
    width: 620px;
    display: flex;
    flex-wrap: wrap;
}
label{
    text-align: right;
    float: right;
    width: 500px;
    font-size: 20px;
}
span{
    color:rgb(174, 174, 178);
}
.boxs{
    margin: 5px;
    border: solid rgb(174, 174, 178);;
    background-color: #fff;
    border-radius: 15px;
}
button img{
    height: 50px;
}
.btn:not(.networkbtn){
    margin: 5px;
    border: solid rgb(174, 174, 178);
    border-radius: 15px;
    width: 200px;
    height: 100px;
}
.networkbtn{
    width: 350px;
    text-align: center;
}
.last{
    margin: 10px;
    padding: 10px;
    background-color: rgb(228, 228, 234);
    border-radius: 10px;
}
